<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Bibit</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Tambah Data Bibit</h1>

        <!-- Form Input Data -->
        <form action="/bibits/pupuk" method="POST" class="mb-5">
            <div class="mb-3">
                <label for="nama_pupuk" class="form-label">Nama pupuk</label>
                <input type="text" id="nama_pupuk" name="nama_pupuk" class="form-control" placeholder="Masukkan Nama pupuk" required>
            </div>
            <div class="mb-3">
                <label for="jenis_pupuk" class="form-label">Jenis pupuk</label>
                <input type="text" id="jenis_pupuk" name="jenis_pupuk" class="form-control" placeholder="Masukkan Jenis pupuk" required>
            </div>
            <div class="mb-3">
                <label for="harga" class="form-label">Harga</label>
                <input type="number" id="harga" name="harga" class="form-control" placeholder="Masukkan Harga" required>
            </div>
            <button type="submit" class="btn btn-primary">Simpan Data</button>
        </form>

        <!-- Tampilkan Data -->


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
